* {
  text-decoration: none;
  margin: 0 auto;
  font-family: "Playfair", serif;
}

a {
  color: #302c29;
}

/* css for homepage */
.logo-header {
  display: flex;
  vertical-align: middle;
}

/* navbar */
.navbar {
  display: flex;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  padding: 20px 0px;
  margin-top: 10px;
  border-style: solid;
  border-color: black;
}

/* searchfield */
.search-container input {
  border: 0px;
}

.search-button {
  border: 0px;
  background-color: transparent;
}

/* navbaritem */
.navbaritem-container {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
}

.line {
  border-left: 1px solid black;
  height: 100%;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.navbaritem-dropdown {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  z-index: 1;
}

.navbaritem-dropdown a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbaritem-dropdown a:hover {
  background-color: #ddd;
}

.dropdown:hover .navbaritem-dropdown {
  display: block;
}

/* login + cart */
.right-navbar {
  display: flex;
  justify-content: space-evenly;
  width: 180px;
}

.login {
  display: flex;
  justify-content: space-evenly;
  width: 70px;
  vertical-align: middle;
}

/* main content */
.maincontent {
  margin: 20px 100px;
}

/* image carousel */
.imageslider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.carousel {
  margin: 0px 15px;
  overflow: hidden;
}

.carousel-container {
  height: 590px;
  width: 1200px;
  position: relative;
  overflow: hidden;
}

.carousel-image {
  width: 1200px;
  float: left;
}

.imageslider button {
  border: 0px;
  background-color: transparent;
}

/* shop by category */
.shopbycategory {
  margin: 100px 0px;
}

.section-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}

.shopbycategory-content {
  margin: 20px 0px;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
  width: 700px;
  margin-bottom: 30px;
}

.categorytitle {
  color: #ddd;
  background-color: black;
  width: 88.7%;
  padding: 10px;
}

/* offers */
.offers {
  height: 540px;
  width: 1000px;
}

.offercard-container {
  margin: 30px 0px;
  display: flex;
  flex-direction: row;
  height: max-content;
  justify-content: space-between;
  padding: 0px 100px;
}

.potrait-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  height: 450px;
  background-color: #e9e7e2;
  padding: 20px 30px;
}

.title {
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
}

.desc {
  margin: 5px 0px 35px 0px;
}

.landscape-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.landscape-card {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  background-color: #d9d4cc;
  padding: 20px 30px;
  width: 85%;
  margin-bottom: 10px;
}

.viewcollection {
  background-color: #302c29;
  color: #ddd;
  padding: 10px 20px;
}

.offers img {
  width: 180px;
  height: 200px;
  margin: 0px;
}

.landscape-carddesc {
  margin: 0px 25px;
}

/* bestseller */
.bestseller-item {
  margin-top: 100px;
  width: 1000px;
}

.bestseller-item img {
  width: 185px;
  height: 185px;
}

.bestseller-card-container {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin: 30px 0px;
}

.bestseller-desc {
  margin: 20px 0px 50px 0px;
}

.bestseller-product {
  font-size: 18px;
  width: 179px;
  height: 50px;
}

.bestseller-price {
  font-size: 16px;
  color: gray;
  width: 179px;
}

.bestseller-card button {
  padding: 20px;
  width: 100%;
  background-color: #d9d4cc;
  border: 0px;
  color: #fafafa;
  font-size: 20px;
  font-weight: bold;
}

.about-madegood {
  background-color: #302c29;
  height: max-content;
  margin-top: 100px;
  overflow: visible;
  color: #fafafa;
}

.about-madegood-content {
  display: flex;
  padding: 50px 200px;
}

.about-line {
  height: 200px;
  border-left: 1px solid #fafafa;
  padding: 0px 50px;
  padding-left: 50px;
}

.about-madegood-title {
  padding-right: 100px;
  font-size: 60px;
}

.wtmadegood {
  font-size: 90px;
}

.about-madegood-desc {
  padding: 20px 0px;
}

.about-madegood-desc a {
  color: #fafafa;
}

.horizontal-line {
  border: none;
  border-top: 1px solid #fafafa;
  height: 1px;
  margin: 20px 0px;
  width: 100px;
}

.about-madegood-desc a:hover {
  font-weight: bold;
  border-bottom: 1px solid #fafafa;
}

/* footer */
.footermenu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 0px 200px;
}

.footermenu {
  width: 30%;
  text-align: left;
  font-size: 18px;
  padding: 50px;
}

.footermenu a {
  display: block;
}

.footermenu ul {
  list-style: none;
}

.linef {
  height: 250px;
  border-left: 1px solid black;
}

.contact i {
  margin-right: 10px;
}

.contacts {
  margin-top: 10px;
}

/* about us */
.aboutus_content {
  display: flex;
}

.aboutus-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 30px 0px 50px 0px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.aboutus_content img {
  width: 540px;
  height: 920px;
}

.about-text {
  margin: 80px 0px 50px 50px;
  font-size: 24px;
  text-align: justify;
}

.about-text p {
  margin-bottom: 30px;
}

/* contact */
.contact-content {
  padding: 50px 400px 20px 150px;
  overflow: visible;
}

.contact-title {
  font-size: 50px;
  margin-bottom: 50px;
}

.contact-text {
  line-height: 1.7;
}

.contact-content p {
  font-size: 24px;
}

.contact-text p {
  margin-bottom: 20px;
}

.contactus {
  background-color: #ecebeb;
  padding: 0px 100px;
  overflow: visible;
}

.contactus-content {
  padding: 0px 400px 20px 150px;
  /* overflow: visible; */
}

.contact-item-container {
  display: inline-block;
}

.lets-chat {
  font-size: 50px;
  padding: 50px 0px;
}

.contact-item {
  margin-right: 110px;
  float: left;
}

.contact-item div {
  margin-bottom: 10px;
  font-weight: bold;
}

.contact-form {
  margin-top: 50px;
  display: inline-block;
}

.form-item {
  padding-right: 50px;
  float: left;
  justify-content: space-between;
  margin-bottom: 20px;
}

.label {
  padding-bottom: 4px;
}

/* sign in */

.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 150px;
  width: fit-content;
  height: fit-content;
}

.loginForm {
  margin: 0;
}

.loginForm h1 {
  margin-bottom: 50px;
}

.input-data  {
  width: 100%;
}

.passwordform {
  margin-top: 10px;
}

.input-data input {
  width: 100%;
  margin: 4px 0px;
  padding: 10px 0px;
  border-radius: 0px;
  border-bottom: 1px solid #302c29;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.input-data input:focus {
  outline: none;
}

.button-signin {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  height: 42px;
  background-color: #302c29;
  color: #d9d4cc;
}

.registerbutton a {
  text-decoration: underline;
  font-weight: bold;
}

.close-btn i {
  width: 40px;
  height: 40px;
}

.sign-in-container img {
  width: 40px;
  margin-top: 60px;
}

/* payment */

.payment {
  position: fixed;
  top: 40%;
  left: 35%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.payBtn {
  width: 100px;
  height: 50px;
  font-size: 20px;
  background-color: white;
}

.payTxt {
  font-size: 50px;
  margin-bottom: 20px;
}

/* payment success */
.success {
  position: fixed;
  top: 40%;
  left: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.succestext {
  font-size: 30px;
}

.successimg {
  width: 200px;
}

.searchBox:focus {
  outline: none;
  border: none; /* or you can set a different border style if you prefer */
}

textarea {
  resize: none;
}

.textAreaMsg {
  width: 200px;
  height: 100px;
}

.priceTxt {
  font-size: 50px;
  margin-bottom: 20px;
}


/* account */
.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  height: fit-content;
}

.profile h1 {
  margin: 20px auto 40px auto;
}

.profile button {
  padding: 10px 20px;
}

.profilpicture img {
  width: 150px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.changepicture button{
  height: 42px;
  background-color: white;
  color: #302c29;
  border: 2px solid #302c29;
  font-size: 16px;
}

.user-data {
  margin: 50px auto 10px auto;
  width: 300px;
}

.user-data input {
  margin: 8px 0px;
  height: 42px;
  background-color: #d9d4cc;
  padding: 0px 12px;
  font-size: 16px;
  width: 90%;
}

.user-data-box {
  margin-bottom: 14px;
}

.editbtn {
  width: 100%;
  background-color: #302c29;
  color: #d9d4cc;
  font-size: 16px;
  height: 42px;
}

.logoutBtn {
  margin: 100px auto 0px auto;
}

.logoutBtn button {
  width: 100%;
  background-color: white;
  color: rgb(226, 81, 81);
  border: 2px solid rgb(226, 81, 81);
  font-size: 16px;
}

/* product detail */
.product-detail-container {
  margin: 0px 200px;
}

.img-info {
  display: flex;
}

.product-img {
  width: 450px;
}

.product-main-img {
  width: 450px;
}

.small-img {
  display: inline;
}

.small-img img {
  width: 8%;
  cursor: pointer;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
  font-size: 16px;
}

.page-nav div {
  margin: 0px;
}

.nav-page {
  display: flex;
}

.nav-btn button{
  background-color: white;
  border: 0px;
  margin: 0px 10px;
  font-size: 16px;
}

.stock-container {
  margin-top: 30px;
  font-size: 18px;
}

.modelOption select {
  width: 100%;
  height: 42px;
  font-size: 18px;
  background-color: white;
  margin: 30px 0px 10px 0px;
  padding: 0px 10px;
}

.qty {
  margin-top: 10px;
}

.quantity {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  
}

.quantity input {
  width: 100%;
  font-size: 18px;
  background-color: white;
  padding: 0px 15px;
  margin: 0px 20px;
  border: 1px solid #302c29;
}

.quantity button {
  width: 54px;
  height: 42px;
  font-size: 18px;
  background-color: white;
  padding: 0px 10px;
  border: 1px solid #302c29;
}

.customText {
  margin: 20px 0px;
}

.customText input {
  height: 42px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  border: 1px solid #302c29;
  padding: 0px;
  margin-left: 10px;
}

.buyBtn {
  width: 100%;
  height: 42px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  margin: 50px 0px;

  .modelOption select {
    padding: 0px 10px;
  }
}